form {
  border: 1px solid #625e54;
  padding: 30px 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}


.form-control,
.custom-select
 {
  border: 1px solid #625e54;
 }


button.btn.btn-outline-dark.btn-lg {
  box-shadow: 2px 2px 0 1px #00002638;
}

.impactResult {
  background: green;
    padding: 10px;
    border-radius: 6px;

    pre {
      margin-top: 1rem;
      color: #fff !important;
     }
}

